body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

header {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

section {
  padding: 20px;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tracks-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.track {
  min-width: 160px;
  cursor: pointer;
}

.track img {
  width: 100%;
  border-radius: 8px;
}

.track h4 {
  margin: 5px 0 0;
}

.track p {
  margin: 0;
  font-size: 14px;
  color: #bbb;
}

/* PLAYER */

.player-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.player-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-left img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.player-center {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 40%;
}

#progress {
  width: 100%;
}

.player-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  background: #1db954;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}
